$break-small: 320px;
$break-medium: 800px;
$break-large: 1200px;

.container-fluid {
	@media screen and (max-width: $break-medium) {
		padding-top: 150px;

	}
}
.full-width {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
	padding: 0;
}

header {
	position: fixed;
	z-index: 2;
}

.preload {
	background-size: cover;
	background-color: white;
	position: fixed;
	top: 0; right:0; bottom:0; left: 0;
	z-index: 100;
}

.banner {
	margin: 0;

	.brand {
		@media screen and (max-width: $break-medium) {
			position: inherit;
			top: 0;
		}
		@media screen and (min-width: $break-medium) {
			position: relative;
		}
		// background-image: url(../images/header-alt.png);
		// background-color: $brand-primary;

		background-color: transparent;
		background-image: url(../images/header-alt-2.png);
		.el-projecte & {
			background-image: url(../images/header.png);
		}

		background-size: 75%;
		background-repeat: no-repeat;
		background-position: center center;
		text-indent: -9999px;
		width: 150px;
		height: 150px;
		display: block;
		z-index: 3;
		transition: width 0.5s ease, height 0.5s ease, margin-top 0.5s ease;
	}

	@media screen and (min-width: $break-medium) {
		&:hover,
		&.active {
			.brand {
				width: 250px;
				height: 250px;

				background-color: transparentize($black, 0.1);
				.el-projecte & {
					background-image: url(../images/header-alt-2.png);
				}

			}
		}
	}

	@media screen and (max-width: $break-medium) {
		.brand {
			width: 150px;
			height: 50px;

			background-color: transparentize($black, 0.1);
			.el-projecte & {
				background-image: url(../images/header-alt-2.png);
			}

		}
	}

	.nav-holder {
		width: 250px;
		height: 0;
		transition: width 0.5s ease, height 0.5s ease;
		position: relative;
		z-index: 2;
		overflow: hidden;

		// background-color: transparentize($white, 0.1);

		background-color: transparentize($black, 0.1);
		color: $white;
		margin-top: 50px;

		& > * {
			opacity: 0;
			transition: opacity 1s ease;
		}
	}

	@media screen and (min-width: $break-medium) {
		&:hover,
		&.active {
			.nav-holder {
				width: 250px;
				height: 250px;

				& > * {
					opacity: 1;
				}
			}
		}
	}

	@media screen and (max-width: $break-medium) {
		.nav-holder {
			position: fixed;
			top: 0;
			left: 150px;
			right: 50px;
			width: 98%;
			margin-top: 0;
			height: 50px;

			& > * {
				opacity: 1;
			}

			.menu-principal {
				li {
					display: block;
					float: left;
				}
			}
		}
	}

	.nav-primary {
		font-family: $headings-font-family;
		position: relative;
		z-index: 2;

		@media screen and (max-width: $break-medium) {
			li {
				float: left;
			}
		}

		a {
			font-size: 2rem;
			@media screen and (max-width: $break-medium) {
				line-height: 4rem;
			}

			&:hover,
			&:focus {
			  background-color: transparentize($white, 0.01);
			  color: $link-color;
			}
		}
	}

	.description {
		margin: 0;
		width: 100%;
		overflow: hidden;
		position: relative;
		z-index: 2;
		text-transform: uppercase;
		font-weight: 600;

		div {

			@media screen and (max-width: $break-medium) {
				display: none;
			}
			font-size: 1.8rem;
			line-height: 1.5em;
			width: 250px;
			padding: .9em .5em .5em .8em;
			margin: 0.5em 0;
		}
	}




}


.home .page-header {
	display: none;
}

/*
 ___   ____  _      ___   _     _    _____  _   ___   _          __   _     _   ___   ____  ___
| |_) | |_  \ \  / / / \ | |   | | |  | |  | | / / \ | |\ |     ( (` | |   | | | | \ | |_  | |_)
|_| \ |_|__  \_\/  \_\_/ |_|__ \_\_/  |_|  |_| \_\_/ |_| \|     _)_) |_|__ |_| |_|_/ |_|__ |_| \
*/
.rev_slider span {
	font-family: "adobe-caslon-pro", "Times New Roman", Times, serif !important;
}

.tparrows {
	background: transparentize($white, 0.2);
	&:hover {
		background-color: transparentize($white, 0.1);
	}
}
.tparrows:before {
	color: $link-color;
}

/*
 ___    __    __    ____  __
| |_)  / /\  / /`_ | |_  ( (`
|_|   /_/--\ \_\_/ |_|__ _)_)
*/

.content {
	@media screen and (min-width: $break-medium) {
		margin-left: 150px;
		margin-right: 150px;
		margin-top: 50px;
	}
	width: auto;
	.home & {
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		width: 100%;
	}
}
